*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#f4f6f9;
}

/* Layout */

.dashboard{
display:flex;
height:100vh;
}

/* Sidebar */

.sidebar{
width:220px;
background:#111;
color:white;
padding:30px 20px;
}

.sidebar h2{
margin-bottom:30px;
text-align:center;
}

.sidebar ul{
list-style:none;
}

.sidebar ul li{
margin:15px 0;
}

.sidebar ul li a{
text-decoration:none;
color:white;
display:block;
padding:10px;
border-radius:5px;
}

.sidebar ul li a:hover{
background:#ff9800;
}

/* Main Content */

.main-content{
flex:1;
padding:40px;
}

.main-content h1{
margin-bottom:30px;
}

/* Upload Card */

.upload-card{
background:white;
padding:30px;
border-radius:10px;
box-shadow:0 4px 15px rgba(0,0,0,0.1);
width:350px;
}

.upload-card h3{
margin-bottom:20px;
}

/* File input */

input[type="file"]{
margin-bottom:20px;
}

/* Button */

button{
background:#ff9800;
border:none;
padding:12px 20px;
color:white;
border-radius:5px;
cursor:pointer;
}

button:hover{
background:#e68900;
}
