*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#f2f4f8;
}

/* DASHBOARD */
.dashboard{
display:flex;
}

/* SIDEBAR */
.sidebar{
width:240px;
height:100vh;
background:#111;
color:#fff;
position:fixed;
padding:20px;
}

.sidebar h2{
text-align:center;
margin-bottom:30px;
color:#ff9800;
}

.sidebar ul{
list-style:none;
}

.sidebar ul li{
margin:15px 0;
}

.sidebar ul li a{
color:white;
padding:10px;
display:block;
cursor:pointer;
border-radius:6px;
}

.sidebar ul li a:hover{
background:#ff9800;
}

/* MAIN */
.main-content{
margin-left:240px;
padding:25px;
width:100%;
}

/* SECTIONS */
.section{
display:none;
}

#dashboard{
display:block;
}

/* CARD DESIGN */
.card{
background:white;
padding:20px;
margin-top:15px;
border-radius:10px;
box-shadow:0 3px 10px rgba(0,0,0,0.1);
max-width:500px;
}

/* PROFILE CARD */
.profile{
text-align:center;
}

.profile img{
width:120px;
height:120px;
border-radius:50%;
object-fit:cover;
margin-bottom:10px;
border:3px solid #ff9800;
}

/* INPUTS */
input,select{
width:100%;
padding:10px;
margin-top:10px;
border:1px solid #ccc;
border-radius:6px;
}

/* BUTTON */
button{
margin-top:10px;
width:100%;
padding:10px;
background:#ff9800;
border:none;
color:white;
border-radius:6px;
cursor:pointer;
}

button:hover{
background:#e68900;
}

/* GRID */
.grid{
display:grid;
grid-template-columns:repeat(auto-fill,minmax(180px,1fr));
gap:15px;
}
