body{
margin:0;
font-family:Arial, sans-serif;
background:#f5f5f5;
}

/* HEADER */

header{
display:flex;
justify-content:space-between;
align-items:center;
background:#111;
color:white;
padding:15px 40px;
}

/* NAVBAR */

.nav-links{
display:flex;
list-style:none;
gap:30px;
margin:0;
padding:0;
}

.nav-links a{
color:white;
text-decoration:none;
font-size:18px;
font-weight:600;
}

.nav-links a:hover{
color:#ff7a00;
}

/* CONTACT SECTION */

.contact{
padding:80px 20px;
text-align:center;
}

.contact-container{
max-width:1100px;
margin:auto;
}

.contact h2{
font-size:40px;
margin-bottom:20px;
}

.contact-info{
display:flex;
justify-content:center;
gap:30px;
flex-wrap:wrap;
margin-top:40px;
}

.info-card{
background:white;
padding:20px 20px;
border-radius:10px;
box-shadow:0 5px 15px rgba(0,0,0,0.1);
min-width:250px;
}

.info-card h3{
color:#ff7a00;
margin-bottom:10px;
}

