body{
margin:0;
font-family:Arial, sans-serif;
}

.hero{
height:100vh;

background-image:url("../images/hero.jpg.png");

background-size:cover;
background-position:center;
background-repeat:no-repeat;

display:flex;
flex-direction:column;
justify-content:center;
align-items:center;

color:white;
text-align:center;
}

.btn{
background:orange;
padding:12px 25px;
text-decoration:none;
color:white;
border-radius:5px;
}
