body{
margin:0;
font-family:Arial;
background:#f5f5f5;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
background:#111;
color:white;
padding:15px 40px;
}

nav a{
color:white;
margin-left:20px;
text-decoration:none;
}

.book-btn{
background:#ff7a00;
padding:8px 15px;
border-radius:5px;
}

.hero{
height:500px;
background:url("../images/hero.jpg.png");
background-size:cover;
background-position:center;
display:flex;
align-items:center;
color:white;
}

.hero-text{
margin-left:80px;
max-width:500px;
}

.hero h2{
font-size:45px;
}

.btn{
background:#ff7a00;
color:white;
padding:12px 25px;
text-decoration:none;
border-radius:5px;
}

.services{
text-align:center;
padding:60px;
}

.card{
background:white;
padding:25px;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,0.1);
}
